<div class="row">
<h2>Your Profile</h2>
<!-- alternatives:
with hidden property
<div [hidden]="courses.length == 0"</div>
<div [hidden]="courses.length > 0" </div>
-->
<!-- 
  <div *ngIf="courses.length > 0;then coursesList else noCourses"></div>
  <ng-template #coursesList>
  <h2>Liste de vos cours: </h2>
  {{ courses }}
</ng-template>
<ng-template #noCourses>
  sorry...no courses yet!
</ng-template> -->
<ul class="nav nav-pills">
  <li [class.active]="viewMode == 'dash'"><a (click)="viewMode = 'dash'">Dashboard</a></li>
  <li [class.active]="viewMode == 'list'"><a (click)="viewMode = 'list'">Your Courses</a></li>
</ul>

<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'dash'">
    <h3>Dashboard</h3>
    <new-course></new-course>
    <app-add-course></app-add-course>
  </div>
  <div *ngSwitchCase="'list'">
    <h3>List of your Courses</h3>
    <h4> Your Coach: {{ author.name }}, {{ author.role?.name }} </h4>
    <button class="btn btn-success" (click)="loadCourses() " >Load Courses</button>
    <ul class="list-group">
      <li 
      class="list-group-item"
      *ngFor="let course of courses; trackBy:trackCourses; index as i">
        {{ i }} - {{ course.name }} 
        <button class="btn btn-warning" (click)="onDel(course)">remove</button>
      </li>
    </ul>
    <button class="btn btn-primary" (click)="onAdd()">Add</button>
    <button
    class="btn btn-primary"
    [ngStyle]="{
      'backgroundColor': canSave ? 'blue': 'gray',
      'color': canSave ? 'white': 'black',
      'fontWeight': canSave ? 'bold': 'normal'
    }"    
    >Save</button>
  </div>
  <div *ngSwitchDefault> Welcome </div>
</div>
</div>
<!-- alternate method for rendering multiple style
   [style.backgroundColor]="canSave ? 'blue': 'gray' " 
   [style.color]=" canSave ? 'white' : 'black' " 
   [style.fontWeight]=" canSave ? 'bold' : 'normal' "
   ************************************************
   also better to use persos class to render
 -->